loading-circle {
    .circle1 {
        position: absolute; 
        top: 28vh; 
        left: 29vw;
        height: 600vh;
        width: 600vw;
        opacity: 0.6;
    }

    .circle2 {
        position: absolute; 
        top: 21vh; 
        left: 18vw;
        height: 600vh;
        width: 600vw;
        opacity: 0.6;
    }

    .circle3 {
        position: absolute; 
        top: 16vh; 
        left: 9vw;
        height: 600vh;
        width: 600vw;
        opacity: 0.6;
    }
}
