page-reset-password {
    .background {
        width: 100%;
        height: 100%;
        background: linear-gradient(10deg, color($colors, secondary), color($colors, primary));
    }

    .scroll-content {
        width: 100vw;
        height: 100vh;
        text-align: center;
    }

    ion-card.card {
        margin-top: 50%;
        background: rgba(232, 230, 230, 0.6px);
        border-radius: 10px;
        color: white;
    }

    ion-card-header {
        color: white !important;
    }

    ion-input.input {
        color: white;
    }

    .item {
        background: rgba(232, 230, 230, 0px);
        .label {
            color: white;
        }
    }
    
    ion-row .button {
        margin-top: 5%;
    }
}
