page-searchPage {
    ion-card.card {
        margin-top: 0vh;
    }

    .button-block-md {
        margin-top: 5vh;
    }

    .price {
        margin-top: -5vh;
    }

    textarea {
        height: 20vh;
        color: white;
    }
}
