loading-svg {
    .centered {
        position: absolute; 
        margin-top: 30vh; 
        margin-left: 42vw;
        height: 20vh;
		width: 30vw;
    }

    p {
        position: absolute;
        margin-top: 50vh; 
        margin-left: 29vw;
        color: black !important;
    }
}
